@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400, 500, 600, 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v25/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400, 500, 600, 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v25/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTXtHA-Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Sedgwick Ave';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sedgwickave/v10/uK_04rKEYuguzAcSYRdWTJqMWWI0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300, 400, 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v14/2sDcZG1Wl4LcnbuCJW8zaGW5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300, 400, 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v8/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk6jFN_C-bk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 10%;
  font-family: 'Playfair Display', sans-serif;
}

li span {
  font-weight: 600;
  font-family: 'Manrope';
}

.subheading {
  font-family: 'Oxygen', serif;
  border-bottom: 2px solid rgba(128, 128, 128, 0.336);
}

.container {
  border-bottom: 3px dotted gray;
  padding: 10px;
  margin: 10px auto;
}

.color-panel {
  display: inline-block;
  width: 30%;
  margin: 5px auto;
  text-align: center;
}

.pit-black {
  background-color: rgb(16, 24, 32);
  color: white;
}

.steelers-gold {
  background-color: rgb(255, 182, 18);
  color: white;
}

.steelers-blue {
  background-color: rgb(0, 48, 135);
  color: white;
}

.steelers-red {
  background-color: rgb(198, 12, 48);
  color: white;
}

.font-container {
  margin: 0 auto;
}

.font-panel {
  display: inline-block;
  padding: 5px;
  width: 45%;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.playfair {
  font-family: 'Playfair Display', sans-serif;
}

.oxygen {
  font-family: 'Oxygen', serif;
}

.manrope {
  font-family: 'Manrope', serif;
}

.sedgwick {
  font-family: 'Sedgwick Ave', sans-serif;
}

.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 300;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}